[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastflow = {extras = ["dev", "doc"], file = ".", editable = true}

[dev-packages]
build = "*"
maturin = "<2,>=1"
